<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>صنایع غذایی سید - تولید کننده انواع محصولات غذایی</title>
  <meta name="description" content="صنایع غذایی سید - تولید کننده انواع محصولات غذایی">
  <meta name="keywords"
        content="سید, صنایع غذایی, صنایع غذایی سید, کارخانه رب سید, رب, رب سید, کنسرو، گوجه، گوجه فرنگی، مشهد، مربا">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
  <link href="assets/home/styles-merged.css" rel="stylesheet">
  <link href="assets/home/style-en.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="js/vendor/html5shiv.min.js"></script>
  <script src="js/vendor/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-app="app">

<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
  <div class="container">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/en" title="Seyyed:Logo">Seyyed</a>
    </div>
    <div id="navbar-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="order-link">
          <a id="order-link" href="/user" class="btn btn-primary">
            order</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="#" data-nav-section="welcome">Home</a>
        </li>
        <li>
          <a href="#" data-nav-section="specialties">Products</a>
        </li>
        <li>
          <a href="#" data-nav-section="events">News</a>
        </li>
        <li>
          <a href="#" data-nav-section="menu">About Us</a>
        </li>
        <li>
          <a href="#" data-nav-section="contact">Contact Us</a>
        </li>
        <li>
          <a href="/" onclick="window.location.href='/'">FA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="flexslider" data-section="welcome">
  <ul class="slides">
    <li style="background-image: url(assets/images/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
              <h1 class="primary-heading">SEYYED</h1>
              <h3 class="secondary-heading" style="top: 0">Food Industrial</h3>
              <!--<p class="sub-heading">A free bootstrap website template by
                <a href="https://probootstrap.com">ProBootstrap.com</a>
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </li>
    <li style="background-image: url(assets/images/hero_bg_2.jpg)" class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
              <h1 class="primary-heading">Freash & Healthy</h1>
              <!--<h3 class="secondary-heading">With Us</h3>-->
              <!--<p class="sub-heading">A free bootstrap website template by
                <a href="https://probootstrap.com">ProBootstrap.com</a>
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </li>
    <li style="background-image: url(assets/images/hero_bg_3.jpg)" class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
              <h1 class="primary-heading">RESPECT YOUR</h1>
              <h3 class="secondary-heading">TASTE</h3>
              <!--<p class="sub-heading">A free bootstrap website template by
                <a href="https://probootstrap.com">ProBootstrap.com</a>
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 probootstrap-animate">
        <p>
          <img src="assets/images/img_1.jpg" alt="محصولات غذایی سید - درباره ما" class="img-responsive">
        </p>
      </div>
      <div class="col-md-5 col-md-push-1 text-center probootstrap-animate">
        <div class="probootstrap-heading dark">
          <h1 class="primary-heading">About US</h1>
          <span class="seperator">* * *</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum...
        </p>
        <p class="nav navbar-nav" style="float: none">
          <a href="#" class="probootstrap-custom-link" data-nav-section="menu">read more</a>
        </p>
      </div>
    </div>
    <!-- END row -->
  </div>
</section>

<section class="probootstrap-section-bg overlay" style="background-image: url(assets/images/hero_bg_2.jpg);"
         data-stellar-background-ratio="0.5"
         data-section="specialties">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center probootstrap-animate">
        <div class="probootstrap-heading">
          <h2 class="primary-heading">Products</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- probootstrap-bg-white -->
<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="probootstrap-cell-retro">
        <div class="half">

          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/rob_2.jpg);"></div>
            <div class="text text-center">
              <h3>رب گوجه فرنگی سید</h3>
              <p>تهیه شده از بهترین و تازه ترین گوجه فرنگی های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های
                پیشرفته و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$20.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/komput_holu.jpg);"></div>
            <div class="text text-center">
              <h3>کمپوت هلو سید</h3>
              <p>تهیه شده از بهترین و تازه ترین هلو های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته و
                در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$19.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/komput_pear.jpg);"></div>
            <div class="text text-center">
              <h3>کمپوت گلابی سید</h3>
              <p>تهیه شده از بهترین و تازه ترین گلابی های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته
                و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$20.99</p>-->
            </div>
          </div>

        </div>
        <div class="half">

          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/komput_apple.jpg);"></div>
            <div class="text text-center">
              <h3>کمپوت سیب سید</h3>
              <p>تهیه شده از بهترین و تازه ترین سیب های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته و
                در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$20.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/komput_cherry.jpg);"></div>
            <div class="text text-center">
              <h3>کمپوت گیلاس آقاجون</h3>
              <p>تهیه شده از بهترین و تازه ترین گیلاس های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته
                و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$19.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/konserv_beans.jpg);"></div>
            <div class="text text-center">
              <h3>کنسرو لوبیا سید</h3>
              <p>تهیه شده از بهترین و تازه ترین لوبیا های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته
                و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$20.99</p>-->
            </div>
          </div>

        </div>
        <div class="half">

          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/konserv_green_peas.jpg);"></div>
            <div class="text text-center">
              <h3>کنسرو نخود سبز سید</h3>
              <p>تهیه شده از بهترین و تازه ترین نخود سبز های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های
                پیشرفته و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$32.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/moraba_cherry.jpg);"></div>
            <div class="text text-center">
              <h3>مربای آلبالو سید</h3>
              <p>تهیه شده از بهترین و تازه ترین آلبالو های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته
                و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$25.99</p>-->
            </div>
          </div>

        </div>
        <div class="half">

          <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/moraba_carret.jpg);"></div>
            <div class="text text-center">
              <h3>مربای هویج سید</h3>
              <p>تهیه شده از بهترین و تازه ترین هویج های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته و
                در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$32.99</p>-->
            </div>
          </div>
          <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
            <div class="image" style="background-image: url(assets/images/products/moraba_ballang.jpg);"></div>
            <div class="text text-center">
              <h3>مربای بالنگ سید</h3>
              <p>تهیه شده از بهترین و تازه ترین بالنگ های کشت شده در مزارع سرتاسر کشور با استفاده از دستگاه های پیشرفته
                و در فضایی کاملا بهداشتی</p>
              <!--<p class="price">$25.99</p>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section-bg overlay" style="background-image: url(assets/images/hero_bg_3.jpg);"
         data-stellar-background-ratio="0.5"
         data-section="events">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center probootstrap-animate">
        <div class="probootstrap-heading">
          <h2 class="primary-heading">News</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="probootstrap-section" ng-controller="NewsController as vm" style="padding: 4em 0;">
  <div class="container">
    <div class="row" ng-show="!vm.loaded">
      <div class="col-md-4 col-sm-4 probootstrap-animate">
        <div class="probootstrap-block-image">
          <figure>
            <img src="assets/images/img_square_2.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
          </figure>
          <div class="text">
            <span class="date">June 29, 2017</span>
            <h3>
              <a href="#">Laboriosam Quod Dignissimos</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam
              soluta
              at.
            </p>
            <p>
              <a href="" ng-click="vm.openDialog()" class="probootstrap-custom-link link-sm">بیشتر بخوانید</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 probootstrap-animate">
        <div class="probootstrap-block-image">
          <figure>
            <img src="assets/images/img_square_3.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
          </figure>
          <div class="text">
            <span class="date">June 29, 2017</span>
            <h3>
              <a href="#">Laboriosam Quod Dignissimos</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam
              soluta
              at.
            </p>
            <p class="">
              <a href="#" class="probootstrap-custom-link link-sm">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 probootstrap-animate">
        <div class="probootstrap-block-image">
          <figure>
            <img src="assets/images/img_square_4.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
          </figure>
          <div class="text">
            <span class="date">June 29, 2017</span>
            <h3>
              <a href="#">Laboriosam Quod Dignissimos</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam
              soluta
              at.
            </p>
            <p class="">
              <a href="#" class="probootstrap-custom-link link-sm">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="vm.loaded">
      <div class="col-md-4 col-sm-4 probootstrap-animate" ng-repeat="n in vm.news"
           style="opacity: 1; visibility: visible">
        <div class="probootstrap-block-image">
          <figure>
            <img ng-show="!n.url" ng-src="assets/images/img_square_2.jpg" alt="{{n.title.en}}">
            <img ng-show="n.url" ng-src="{{n.url}}" alt="{{n.title.en}}">
          </figure>
          <div class="text">
            <span class="date">{{n.dateEN}}</span>
            <h3>{{n.title.en}}</h3>
            <p>{{n.text.en | limitTo: 400}} <span ng-show="n.text.en.length > 400">...</span></p>
            <p>
              <a href="/news/en/{{n._id}}" class="probootstrap-custom-link link-sm">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/news/en" class="btn btn-primary text-center pull-right">Read more</a>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section-bg overlay" style="background-image: url(assets/images/hero_bg_4.jpg);"
         data-stellar-background-ratio="0.5"
         data-section="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center probootstrap-animate">
        <div class="probootstrap-heading">
          <h2 class="primary-heading">About Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center probootstrap-animate about-us">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Non blandit massa enim nec dui nunc mattis. Non consectetur a erat nam at lectus urna duis
          convallis. Lectustur vitae nunc Mauris ultrices eros in cursus turpis. Leo integer malesuada nunc vel. Tempor
          orci dapibus ultrices in iaculis nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit.
          Pellentesque elit eget gravida cum sociis natoque penatibus et. Ac turpis egestas integer eget aliquet nibh
          praesent tristique magna. Condimentum lacinia quis vel eros donec ac odio tempor orci.
        </p>
        <p>
          Nunc sed blandit libero volutpat sed cras ornare. Quis lectus nulla at volutpat diam ut venenatis. Tortor
          vitae purus faucibus ornare suspendisse sed. Non blandit massa enim nec dui nunc mattis enim. Vestibulum
          mattis velit. Amet cursus sit amet dictum sit amet justo donec enim. Ut morbi tincidunt augue
          interdum velit euismod.
        </p>
        <div class="row">
          <div class="col-md-3 text-center">
            <a href="assets/certs/1.jpg">
              <img src="assets/certs/1.jpg" alt="HACCP certificate" class="img-responsive img-thumbnail">
            </a>
          </div>
          <div class="col-md-3 text-center">
            <a href="assets/certs/2.jpg">
              <img src="assets/certs/2.jpg" alt="ISO9001" class="img-responsive img-thumbnail">
            </a>
          </div>
          <div class="col-md-3 text-center">
            <a href="assets/certs/3.jpg">
              <img src="assets/certs/3.jpg" alt="ISO22000" class="img-responsive img-thumbnail">
            </a>
          </div>
          <div class="col-md-3 text-center">
            <a href="assets/certs/4.jpg">
              <img src="assets/certs/4.jpg" alt="HALAL" class="img-responsive img-thumbnail">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section probootstrap-bg-white" data-section="contact">
  <div class="container" ng-controller="ContactController as vm">
    <div class="row">

      <div class="col-md-5 text-center probootstrap-animate">
        <div class="probootstrap-heading dark">
          <h1 class="primary-heading">Contact Us</h1>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sit amet risus nullam eget felis eget nunc. Aliquam ultrices sagittis orci a scelerisque. Nunc
          congue nisi vitae suscipit. Sit amet nisl purus in mollis nunc sed id. Est velit egestas dui id ornare arcu.
          Nec feugiat in fermentum posuere urna nec. Dignissim convallis aenean et tortor at. Non consectetur a erat
          nam. Maecenas accumsan lacus vel facilisis volutpat est. Neque gravida in fermentum et sollicitudin ac orci.
          Sit amet facilisis magna etiam tempor orci eu lobortis. Adipiscing vitae proin sagittis nisl rhoncus mattis
          rhoncus urna.
        </p>
      </div>
      <div class="col-md-6 col-md-push-1 probootstrap-animate">
        <form name="contact" class="probootstrap-form" ng-submit="vm.submit(contact)">
          <div class="form-group">
            <label for="c_name">Name</label>
            <div class="form-field">
              <input type="text" name="name" id="c_name" class="form-control" ng-model="vm.contact.name" tabindex="1"
                     ng-maxlength="100" required>
            </div>
          </div>
          <div class="col-md-5" style="padding-left: inherit; padding-right: inherit;">
            <div class="form-group">
              <label for="c_mobile">Mobile</label>
              <div class="form-field" style="direction: ltr;">
                <input type="text" name="mobile" id="c_mobile" class="form-control" ng-model="vm.contact.mobile"
                       ng-maxlength="15" tabindex="3">
              </div>
            </div>
          </div>
          <div class="col-md-7" style="padding-right: inherit;">
            <div class="form-group">
              <label for="c_email">Email</label>
              <div class="form-field" style="direction: ltr">
                <input type="email" name="email" id="c_email" class="form-control" ng-model="vm.contact.email"
                       ng-maxlength="100" tabindex="2">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="c_message">Message</label>
            <div class="form-field">
              <textarea name="message" id="c_message" cols="30" rows="5" class="form-control"
                        ng-model="vm.contact.message" tabindex="4" required ng-maxlength="1000"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div
              vc-recaptcha
              ng-model="vm.contact.recaptchaResponse"
              theme="'light'"
              key="vm.key"
              on-create="vm.setWidgetId(widgetId)"
              on-success="vm.setResponse(response)"
              on-expire="vm.cbExpiration()"
              lang="en"
            ></div>
          </div>
          <div class="form-group">
            <input type="submit" name="c_submit" id="c_submit" value="Send" class="btn btn-primary btn-lg"
                   tabindex="5">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 probootstrap-animate">
        <div class="probootstrap-footer-widget">
          <h3>Location</h3>
          <div class="row">
            <div class="col-md-6">
              <p>
                <small>Store</small>
                <br> 198 West 21th Street, Suite 721 <br> Mashhad 10016
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <small>Office</small>
                <br> 198 West 21th Street, Suite 721 <br> Mashhad 10016
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate">
        <div class="probootstrap-footer-widget">
          <h3>contact</h3>
          <div class="row">
            <div class="col-md-4">
              <p>Phone
                <br> 09367505667</p>
            </div>
            <div class="col-md-4">
              <p>Email
                <br> seyyed@mail.com</p>
            </div>
            <div class="col-md-4">
              <p>Available for calls
                <br> 8 to 16</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="probootstrap-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text">
          <span class="pull-right">Developed by: <a href="mailto:mhs.malekan@gmail.com">mhs.malekan@gmail.com</a></span>
          <span class="pull-left">All rights reserved for SEYYED food industrial</span>
          <!--&copy; 2017-->
          <!--<a href="https://probootstrap.com/">ProBootstrap:Resto</a>. All Rights Reserved. Images by
          <a href="https://graphicburger.com/">GraphicBurger</a> &amp;
          <a href="https://unsplash.com/">Unsplash</a>-->
        </p>
      </div>
      <!--<div class="col-md-4">
        <ul class="probootstrap-footer-social right">
          <li>
            <a href="#">
              <i class="icon-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-instagram"></i>
            </a>
          </li>
        </ul>
      </div>-->
    </div>
  </div>
</section>

<div ng-repeat="alert in vm.alerts" class="alert alert-{{alert.type}} alert-dismissible" role="alert"
     style="position: fixed;right: 10px; top: 70px; z-index: 10000000; padding-left: 35px; ">
  <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close"
          style="left: -21px; right: inherit">
    <span aria-hidden="true">&times;</span></button>
  <strong ng-show="alert.title">{{alert.title}}</strong>
  {{alert.message}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<!--<script src="assets/js/ng-dialog/js/ngDialog.min.js"></script>-->
<script src="assets/js/angular-recaptcha.min.js"></script>
<script src="assets/home/scripts.min.js"></script>
<script>
  $('#order-link').click(function () {
    window.location.href = '/user';
  });
</script>
<script src="assets/home/custom.min.js"></script>
<script src="assets/js/landing-page.js"></script>

</body>

</html>
