<div class="row">
  <div class="col-md-12">
    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="user in admin.users" ng-if="user.role !=='admin'">
        <div class="user-info">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
        </div>
        <a ng-click="admin.delete(user)" class="trash" title="سفارشات"><span class="fa fa-shopping-cart fa-2x"></span></a>
        <a ng-click="admin.delete(user)" class="trash" title="حذف کاربر"><span class="fa fa-trash fa-2x"></span></a>
      </li>
    </ul>
  </div>
</div>
