<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" ng-repeat="news in vm.newsList">
      <div class="thumbnail">
        <img ng-if="news.url" ng-src="{{news.url}}" alt="{{news.title}}">
        <img ng-if="!news.url" ng-src="assets/images/img_square_{{$index % 6}}.jpg" alt="{{news.title}}">
        <div class="caption">
          <h3>{{news.title}}</h3>
          <small class="text-muted" style="font-family: Tahoma">{{news.date}}</small>
          <p>{{news.text}}</p>
          <p>
            <a class="btn btn-warning btn-sm" role="button" ui-sref="newsDetail({id: news._id})">جزییات خبر ...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
