<div class="container-fluid">
  <form name="form" ng-submit="vm.submit(form)" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="date">تاریخ</label>
              <input type="text" id="date" class="form-control" name="date" ng-model="vm.news.date" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="title-fa">عنوان</label>
              <input type="text" id="title-fa" class="form-control" name="title-en" ng-model="vm.news.title.fa" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="title-en">عنوان انگلیسی</label>
              <input type="text" id="title-en" class="form-control" name="title-en" ng-model="vm.news.title.en" style="direction: ltr" required>
            </div>
          </div>
          <div class="col-md-12" ng-show="!vm.news._id">
            <label>تصویر</label>
            <div class="thumbnail">
              <!--ngf-resize="{width: 400, height: 400}"-->
              <img ng-show="vm.news.photo" class="img-thumbnail" ngf-thumbnail="vm.news.photo" alt="تصویر خبر">
              <div class="caption">
                <div class="btn btn-primary btn-sm" ngf-select ng-model="vm.news.photo"
                     name="photo"
                     ngf-pattern="'image/*'" ngf-accept="'image/jpg'"
                     ngf-max-size="20MB">
                  انتخاب
                </div>
                <button type="button" class="btn btn-danger btn-sm" ng-click="vm.news.photo = null">
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="text-fa">متن</label>
          <textarea id="text-fa" class="form-control" name="text-fa" ng-model="vm.news.text.fa" rows="9" required></textarea>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="text-en">متن انگلیسی</label>
          <textarea id="text-en" class="form-control" name="text-en" ng-model="vm.news.text.en" rows="9" required></textarea>
        </div>
      </div>
      <hr>
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary">ذخیره</button>
      </div>
    </div>
  </form>
</div>
